


body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: #edf0f6;
    font-family: Poppins;
}

.wrapper {
    background-color: #fff;
    box-shadow: 0 3px 30px rgb(185, 185, 185);
    padding: 70px;
    width: 1100px;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.main-title {
    font-weight: 500;
    font-size: 40px;
}
.genre {
    font-size: 20px;
    color: rgb(29, 116, 237);
}
.grade {
    font-size: 20px;
    color: #8b8b8b;
}

.grade span {
    font-weight: 600;
    color: rgb(29, 116, 237);
}

.block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
}
.block__main-image {
    width: 350px;
    height: 400px;
}
.text-block {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    width: 600px;
}
.about {
    grid-column: 1 / span 3;
}
.title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}
.about__desc {
}
.actors {
}
.people {
}
.person {
}
.person__link {
    color: rgb(29, 116, 237);
    text-decoration: none;
}

.director {
    margin-bottom: 30px;
}
.producers {
}
.screenwriter {
}
.more {
    color: rgb(29, 116, 237);
    text-decoration: underline;
    font-weight: 700;

}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left {
    display: flex;
    align-items: center;
    gap: 100px;
}

.price {
    font-weight: 700;
    font-size: 25px;
}
.button {
    border-radius: 40px;

}
.button_border {
    
    border: 2px solid #000;
    padding: 5px 30px;
    color: #000;
    font-size: 20px;
    font-weight: 700;

}

.button_black {
    background-color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1px 1px 1px 20px;
}

.button_black span{
    /* background-color: #000; */
    color: #fff;
    font-size: 20px;
}

.icon {
    border-radius: 50%;
    background-color: #fff;
    width: 40px;

}